@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: rgb(140, 92, 185);
}

.container{
    width: 100%;
}
.banners{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    margin: 30px;
}


.banner img{
    height: 100%;
    border-radius: 5%;
}


.banner{
    height: 100%;
    width: auto;
    margin: 20px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
}

.buttons{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.button{
    margin: 10px;
    padding: 20px;
    font-size: 2rem;
    width: 30%;
    border-radius: 10px;
    box-shadow: 200px 8px 15px rgba(80, 79, 79, 0.1);
    cursor: pointer;
    font-weight: bold;
}

.button:hover{
    background-color: rgb(61, 196, 144);
    transition: all 0.15s linear;
    transform: translateY(-7px);
    color: rgb(255, 255, 255);
}